body{
	margin: 0px;
    padding: 0;
	cursor: pointer;
}

.main{
	margin:0px 155px;
}
.footmain{
	margin:0px 155px;
}
.footerpic{
	width:100%;
}
.navfixed{
	position: fixed;
    top: 0;
    width: 100%;
    background: white;
}
.nav > ul > a > li{
	padding: 0px 22px;
    margin: 0px 5px;
    float: left;
    list-style: none;
    font-weight: bold;
    font-family: Arial;
}
.nav > ul > a{
	color:rgba(0,0,0,.55);
}
header{
	width:100%;
	height:96px;
}
footer{
	width:100%;
	height:500px;
	background-color: #f2f6fc;
	overflow:hidden;
}
.sec1{
	margin-top: 120px;
}
.sec2{
	background-color: #f2f6fc;
	overflow:hidden;
	width:100%;
}
.sec2 h2{
	font-size:1.4rem;
	font-family:arial;
	text-align: center;
	color: #363d47;
}
.sec2 p{
	font-size: 1.1rem;
    font-weight: 400;	
	font-family:arial;
	text-align: center;
    padding: 5px 220px;
	color:#69707a ;
}
.card{
	width: 31%;
    float: left;
    padding: 10px;
	cursor: pointer;
}
.card h6{
	font-size:1rem;
	font-family:arial;
	text-align:center;
	padding: 0px;
    margin: 11px;
	color: #69707a;
}
.card h6:hover{
	font-size:1rem;
	font-family:arial;
	text-align:center;
	padding: 0px;
    margin: 11px;
	color: #6060cd;

}
.card-img{
	width:100%;
	cursor: pointer;
}
.card-img:hover{
	transform: translateY(-0.3333333333rem);
	box-shadow: 0 0.5rem 2rem 0 rgb(3 40 50 / 25%);
	
}

.sec3{
	
}
.sec4{
	
}
.logo{
	width: 30%;
    float: left;
	font-size: 1.2rem;
    font-weight: 700;
	color:#0061f2;	
    margin: 25px 0px;
}
.nav{
	width: 70%;
    float: left;
}
.nav > ul > a > .buynow{
	border-radius: 0.35rem;
    padding: 10px 20px;
    color: #fff;
    background: #0061f2;
}
.nav > ul > a > .navitem{
	margin-top:10px;
}
.foot1{
	width: 20%;
    float: left;
	color: #abc4e0;
}
.foot2{
	width: 20%;
    float: left;
	color: #abc4e0;
}
.foot3{
	width: 20%;
    float: left;
	color: #abc4e0;
}
.foot4{
	width: 20%;
    float: left;
	color: #abc4e0;
}
.foot5{
	width: 20%;
    float: left;
	color: #abc4e0;
}
footer ul {
    list-style: none;
    padding: 0;
    font-family: Arial;
    font-size: 15px;
	color: #abc4e0;
}
.foot1 i{
	color:#8892a5;
	font-size: 21px;
	margin-right: 5px;
}
.sec1-left{
	width:50%;
	float:left;
	color: #363d47;
}
.sec1-right{
	width:50%;
	float:left;
}
.viewdemo{
	border-radius: 0.35rem;
    padding: 10px 20px;
    color: #fff;
    background: #0061f2;
	margin-right:10px;
}
.documentation{
	border-radius: 0.35rem;
    padding: 10px 20px;
    color: #0061f2;
    background: #e1ecfc;
}
.sec1-left h1{
	font-size: 2.5rem;
    font-family: Arial,sans-serif;
}
.sec1-left p{
	font-size: 1.15rem;
	font-family: Arial,sans-serif;
	margin-bottom: 45px;
	color: #69707a;
}
.sec3 h2{
	font-size:1.4rem;
	font-family:arial;
	text-align: center;
	color: #363d47;
	
}
.sec3 p{
	font-size: 1.1rem;
    font-weight: 400;	
	font-family:arial;
	text-align: center;
    padding: 5px 199px;
	color: #69707a;
}

     

.sec4{
	background-color: #f2f6fc;
	overflow:hidden;
	width:100%;
}
.sec4 h2{
	font-size:1.4rem;
	font-family:arial;
	text-align: center;
	color: #363d47;

}
.sec4 p{
	font-size: 1.1rem;
    font-weight: 400;	
	font-family:arial;
	text-align: center;
    padding: 5px 220px;
	color: #69707a;
}
.list{
	width: 31%;
    float: left;
    padding: 20px;
	box-sizing: border-box;
}
.list h6{
	font-size:1rem;
	font-family:arial;
	text-align:left;
	padding: 0px;
    margin: 11px;
	color: #69707a;
}
.list ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.list ul li{
	border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #fff;
  padding: 8px;

}
.list ul li:hover{
	border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: rgb(183, 181, 192);
  padding: 8px;

}
.sec5 h2{
	font-size:1.4rem;
	font-family:arial;
	text-align: center;
	color: #363d47;

}
.sec5 p{
	font-size: 1.1rem;
    font-weight: 400;	
	font-family:arial;
	text-align: center;
    padding:-2px 220px;
	color: #69707a;

}
.cards{
	width: 31%;
    float: left;
    padding: 10px;
}
.cards h1{
	font-weight: 500;
	font-size: 5rem;
	font-family: Arial;
	color:#c5ccd6;
	text-align: center;
	margin-bottom:0;
}
.cards p{
	color: #69707a;
	
	margin-top: 0;
	margin-bottom: 1rem;
	
}
.viewdocu{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
	
}
.viewdocumentation{
	border-radius: 0.35rem;
    padding: 10px 20px;
    color: #fff;
    background: #0061f2;
	margin-right:10px;
}
.sec6{
	background-color: #fff;
	overflow: hidden;
	width:100%;
}
.sec2 a {
	border-radius: 50rem;
    padding: 6px 19px;
    color: #0061f2;
    background: #e1ecfc;
	box-align: center;
	width: 100%;
	margin-left: 558px;

}
.sec3 a {
	border-radius: 50rem;
    padding: 6px 19px;
    color: #0061f2;
    background: #e1ecfc;
	box-align: center;
	width: 100%;
	margin-left: 558px;


}
.sec3{
	margin-top: 51px;
}
.sec4 a{
	border-radius: 50rem;
    padding: 6px 19px;
    color: #0061f2;
    background: #e1ecfc;
	box-align: center;
	width: 100%;
	margin-left: 550px;

}
.sec4{
	margin-top: 70px;
}
.sec5{
	margin-top: 70px;
}
.footerbot{
	width:100%;
	margin-right: 10px
	
}
.copyright h6{
	font-family: Arial;
	color: #69707a;
	float: left;

}
.copyright h5{
	
		font-family: Arial;
		color: #69707a;
		text-align: right;
		font-size: 12px;
	
	
}
.box{
	box-shadow: 0 0.5rem 2rem 0 rgb(3 40 50 / 25%);
}
.firstbox{
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.lastbox{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.box .fa-arrow-right{
	float:right;
	color: #6060cd;
}

